* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
}

:root {
    --background: white;
    --text-color: black;
    --border-color: #b9b9b9;
    --mulish: "Mulish", Arial, monospace;
    --source: "Source Code Pro", Arial, monospace
}

.dark {
    --background: #000b12;
    --text-color: white;
    --border-color: #2f2f2f;
}

body {
    background-color: var(--background);
    color: var(--text-color)
}



header.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}

.title h1 {
    font-size: 24px;
    display: flex;
    align-items: center;
    font-family: var(--mulish);
    font-weight: 600;
}

#theme-icon {
    color: var(--text-color)
}

.button {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;
    cursor: pointer;
}

.button-icon {
    width: 32px;
    height: 32px;
}

.button-ghost:hover {
    background-color: #92929262;
}

.top-bar {
    width: 100vw;
    padding: 12px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}