* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background: none;
}

:root {
    --background: white;
    --text-color: black;
    --border-color: #b9b9b9;
    --input-color: #f1f1f1;
    --shadow: rgba(17, 17, 26, 0.1);
    --mulish: "Mulish", Arial, monospace;
    --source: "Source Code Pro", Arial, monospace
}

.dark {
    --background: #000b12;
    --text-color: white;
    --shadow: rgba(161, 67, 255, 0.527);
    --border-color: #2f2f2f;
    --input-color: #3f3f3f;
}

body {
    background-color: var(--background);
    color: var(--text-color)
}



header.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
}

.title h1 {
    font-size: 24px;
    display: flex;
    align-items: center;
    font-family: var(--mulish);
    font-weight: 600;
}

@media screen and (width < 600px) {
    header.title {
        display: none;
    }

    .top-bar {
        padding: 12px;
    }
}


.button {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border-radius: 4px;
    cursor: pointer;
}

.button-icon {
    width: 32px;
    height: 32px;
}

.button-ghost:hover {
    background-color: #92929262;
}

.top-bar {
    width: 100vw;
    padding: 12px 100px;
    height: 60px;
    display: flex;
    gap: 70px;
    justify-content: space-between;
    align-items: space-between;
    border-bottom: 1px solid var(--border-color);
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

a {
    color: currentColor;
    text-decoration: none;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 400px;
    height: 100%;
}

.search-input {
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    padding: 12px;
    color: var(--text-color);
    border-right: none;
    border-radius: 4px 0 0 4px;
    outline: none;

}

.search-input::placeholder {
    color: var(--text-color)
}

.search-button {
    height: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-left: none;
    border-radius: 0 4px 4px 0;
}

.search-button label {
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    display: flex;
    margin: 36px 100px;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

section.note-input {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: fit-content;
    padding-bottom: 36px;
}

form.note-form {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    justify-content: center;
    padding: 18px;
    gap: 24px;
    color: var(--text-color);
    border-radius: 4px;
    width: 500px;
}

#note-input-box {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 1rem;
    font-family: var(--mulish);
    resize: none;
    field-sizing: content;
}

#note-input-box::placeholder {
    color: var(--text-color);
}

.form-active {
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start;
}

.notes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);

    font-family: var(--mulish);
    gap: 24px;
}

.note-item {
    padding: 24px;
    display: flex;
    font-size: 1rem;
    gap: 16px;
    box-shadow: var(--shadow) 0px 0px 16px;
}